.collapsible {
  background-color: #ffffff;
  color: #003c71;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  position: relative;
  border-bottom: 1px solid #00afd7;
  font-weight: bold;
  margin: 0;
}

.collapsible p {
  width: 100%; /* Set the width to 100% to match the button's width */
  margin: 0;
}

.active,
.collapsible:hover {
  background-color: #00afd7;
}

.collapsible-wrapper {
  display: inline-block;
  width: 100%;
  margin: 0;
}

.content {
  padding: 0; /* Remove padding to align perfectly with the button */
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100%; /* Set the width to 100% to match the button's width */
  margin: 0;
}

.content-questions {
  padding: 0; /* Remove padding to align perfectly with the button */
  display: none;
  overflow: hidden;
  background-color: white;
  width: 100%; /* Set the width to 100% to match the button's width */
  margin: 0;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
